<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925101813634-lj4c7hp2e1griju3gk02bqc8tvinkrc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925101813634-lj4c7hp2e1griju3gk02bqc8tvinkrc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3VVKDGmchoBwDFuiuOkaj7XMnUusLmw</string>
	<key>GCM_SENDER_ID</key>
	<string>925101813634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pratice</string>
	<key>PROJECT_ID</key>
	<string>practiceimage-4dd0f</string>
	<key>STORAGE_BUCKET</key>
	<string>practiceimage-4dd0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925101813634:ios:1f8864dc0e70e608f3e99b</string>
</dict>
</plist>